<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.insttn.dao.impl.InsttnDaoImpl">
	<resultMap type="com.learn.insttn.vo.InsttnVO"
		id="InsttnVOMap" autoMapping="true">
		<!-- 컬럼과 맵핑되는 멤버 변수의 이름을 연결시킨다. -->
		<id column="INSTTN_ID" property="insttnId" /> <!-- 조회한 컬럼이 PK일 경우 ID태그를 사용 -->
<!-- 		<association property="instrVO"
			javaType="com.learn.bbs.pltad.instr.vo.InstrVO" autoMapping="true">
			<id column="INSTR_ID" property="instrId" />
		</association> -->
		<collection property="crsInfList"
			ofType="com.learn.bbs.crs.crsinf.vo.CrsInfVO" autoMapping="true">
			<id column="CRS_INF_ID" property="crsInfId" />
		</collection> <!-- DB테이블안에서 1:N 관계이면 list 사용시 collection -->
	</resultMap>
	<insert id="insertNewInsttn"
		parameterType="com.learn.insttn.vo.InsttnRegistRequestVO">
		<selectKey order="BEFORE" resultType="string"
			keyProperty="insttnId">
			<!-- 아이디 값을 생성해주는 태그 -->
			SELECT 'INSTTN-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' ||
			LPAD(SEQ_INSTTN_PK.NEXTVAL, 6,
			'0')
			FROM DUAL
		</selectKey>
		INSERT INTO
		INSTTN (
		INSTTN_ID,
		INSTTN_NM,
		INSTTN_BSNS_NB,
		INSTTN_CEO_NM,
		INSTTN_ADRS,
		INSTTN_PN,
		INSTTN_RGST_DT,
		INSTTN_UPDT_DT,
		INSTTN_DEL_DT,
		INSTTN_DEL_YN)
		VALUES(
		#{insttnId},
		#{insttnNm},
		#{insttnBsnsNb},
		#{insttnCeoNm},
		#{insttnAdrs},
		#{insttnPn},
		SYSDATE,
		NULL ,
		NULL,
		'N' )
	</insert>
	<select id="selectAllInsttn"
		parameterType="com.learn.insttn.vo.InsttnSearchRequestVO"
		resultMap="InsttnVOMap">
		SELECT 
			i.INSTTN_ID,
			i.INSTTN_NM ,
			i.INSTTN_ADRS,
			ci.CRS_INF_NM
		FROM INSTTN i
		LEFT OUTER JOIN CRS_INF ci
		ON i.INSTTN_ID = ci.INSTTN_ID
		<where>
		ci.CRS_INF_ID IS NOT NULL
			<if test='writeInsttnNm!=null and writeInsttnNm !=""'>
				AND UPPER(i.INSTTN_NM) LIKE  UPPER('%' || #{writeInsttnNm}|| '%' )
			</if>
			<if test='writeCrsInfNm!=null and writeCrsInfNm !=""'>
				AND UPPER(ci.CRS_INF_NM) LIKE UPPER ('%' || #{writeCrsInfNm}|| '%')
			</if>
		</where>
	</select>
	<select id="selectAllInsttnBy" parameterType="string"
		resultType="com.learn.insttn.vo.InsttnVO">
		SELECT
			INSTTN_ID,
			INSTTN_NM,
			INSTTN_BSNS_NB,
			INSTTN_CEO_NM,
			INSTTN_ADRS,
			INSTTN_PN,
			INSTTN_RGST_DT,
			INSTTN_UPDT_DT,
			INSTTN_DEL_DT,
			INSTTN_DEL_YN
		FROM INSTTN
		<if test="insttnId != 'learnual' and insttnId != null">
			WHERE INSTTN_ID = #{insttnId}
		</if>
	</select>
</mapper>