<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.main.ntc.dao.impl.MainNtcDaoImpl">

	<insert id="insertNewMainNotice"
			parameterType="com.learn.main.ntc.vo.NtcWriteRequestVO">

		<selectKey order="BEFORE" resultType="string" keyProperty="ntcId">
			<!-- ID값을 생성해주는 태그. -->
			SELECT 'LN_NTC-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_LN_NTC_PK.NEXTVAL, 6, '0')
  			  FROM DUAL
		</selectKey>
		
		INSERT INTO NTC
		  (NTC_ID
		 , NTC_TTL
		 , NTC_CTT
		 , NTC_WRTR_ID
		 , NTC_PINNED_YN
		 , NTC_RGST_DT
		 , ARTC_ID)
		VALUES
		  (#{ntcId}
		 , #{ntcTtl}
		 , #{ntcCtt}
		 , (SELECT USR_ID
		      FROM USR
		     WHERE USR_NM = 'test')
		 , 'N'<!-- 상단고정체크 시 Y변경 -->
		 , SYSDATE
		 , (SELECT ARTC_ID 
		 	  FROM ARTC 
		 	 WHERE ARTC_NM = 'ln_ntc')
		 )
	</insert>
	
	<select id="selectMainNoticeAllCount">
		SELECT count(1)
		  FROM NTC
		 WHERE ARTC_ID = (SELECT ARTC_ID 
		 	  				FROM ARTC 
		 	 			   WHERE ARTC_NM = 'ln_ntc')
	</select>
	
	<select id="selectMainNoticeAll">
		SELECT NTC_ID
			 , NTC_TTL
			 , NTC_CTT
			 , NTC_WRTR_ID
			 , NTC_PINNED_YN
			 , NTC_RGST_DT
			 , NTC_UPDT_DT
			 , NTC_DEL_DT
			 , NTC_DEL_YN
			 , ARTC_ID
		  FROM NTC
		 WHERE ARTC_ID = (SELECT ARTC_ID 
		 	  				FROM ARTC 
		 	 			   WHERE ARTC_NM = 'ln_ntc')
		 ORDER BY NTC_ID DESC
	</select>
	
	<select id="selecOneMainNotice"
			parameterType="String">
		SELECT NTC_ID
			 , NTC_TTL
			 , NTC_CTT
			 , NTC_WRTR_ID
			 , NTC_PINNED_YN
			 , NTC_RGST_DT
			 , NTC_UPDT_DT
			 , NTC_DEL_DT
			 , NTC_DEL_YN
			 , ARTC_ID
		  FROM NTC
		 WHERE NTC_ID = #{id}
	</select>
	
	<update id="deleteOneMainNotice"
			parameterType="String">
		UPDATE NTC
		   SET NTC_DEL_DT=SYSDATE
		     , NTC_DEL_YN='Y'
		WHERE NTC_ID=#{id}
	</update>
	
	<update id="updateOneMainNoticeBy"
			parameterType="String">
		
	</update>

</mapper>