<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.main.ntc.dao.impl.MainNtcDaoImpl">

	<insert id="insertNewMainNotice"
			parameterType="com.learn.main.ntc.vo.NtcWriteRequestVO">

		<selectKey order="BEFORE" resultType="string" keyProperty="ntcId">
			<!-- ID값을 생성해주는 태그. -->
			SELECT 'LN_NTC-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_LN_NTC_PK.NEXTVAL, 6, '0')
  			  FROM DUAL
		</selectKey>
		
		INSERT INTO NTC
		  (NTC_ID
		 , NTC_TTL
		 , NTC_CTT
		 , NTC_WRTR_ID
		 , NTC_PINNED_YN
		 , NTC_RGST_DT
		 , ARTC_ID)
		VALUES
		 ( #{ntcId}
		, #{ntcTtl}
		, #{ntcCtt}
		, (SELECT DISTINCT S.SPRADM_NM 
		     FROM NTC N
		    INNER JOIN ARTC A
		       ON N.ARTC_ID = A.ARTC_ID 
		    INNER JOIN INSTTN I
		       ON A.INSTTN_ID = I.INSTTN_ID 
		    INNER JOIN SPRADM S
		       ON I.INSTTN_ID = S.INSTTN_ID
		    WHERE S.SPRADM_ID = #{ntcWrtrId})
		, #{ntcPinnedYn}
		, SYSDATE
		, (SELECT ARTC_ID 
		  	 FROM ARTC 
		 	WHERE INSTTN_ID = 'learnual'))
	</insert>
	
	<select id="selectMainNoticeAllCount">
		SELECT count(1)
		  FROM NTC
		 WHERE ARTC_ID = (SELECT ARTC_ID 
						  	FROM ARTC 
						   WHERE INSTTN_ID = 'learnual')
	</select>
	
	<select id="selectMainNoticeAll">
		SELECT NTC_ID
			 , NTC_TTL
			 , NTC_CTT
			 , NTC_WRTR_ID
			 , NTC_PINNED_YN
			 , NTC_RGST_DT
			 , NTC_UPDT_DT
			 , NTC_DEL_DT
			 , NTC_DEL_YN
			 , ARTC_ID
		  FROM NTC
		 WHERE ARTC_ID = (SELECT ARTC_ID 
						  	FROM ARTC 
						   WHERE INSTTN_ID = 'learnual')
		 ORDER BY NTC_ID DESC
	</select>
	
	<select id="selecOneMainNotice"
			parameterType="String">
		SELECT NTC_ID
			 , NTC_TTL
			 , NTC_CTT
			 , NTC_WRTR_ID
			 , NTC_PINNED_YN
			 , NTC_RGST_DT
			 , NTC_UPDT_DT
			 , NTC_DEL_DT
			 , NTC_DEL_YN
			 , ARTC_ID
		  FROM NTC
		 WHERE NTC_ID = #{id}
	</select>
	
	<update id="deleteOneMainNotice"
			parameterType="String">
		UPDATE NTC
		   SET NTC_DEL_DT=SYSDATE
		     , NTC_DEL_YN='Y'
		WHERE NTC_ID=#{id}
	</update>
	
	<update id="updateOneMainNoticeBy"
			parameterType="com.learn.main.ntc.vo.NtcUpdateRequestVO">
		UPDATE NTC
		SET NTC_TTL=#{ntcTtl}
		  , NTC_CTT=#{ntcCtt}
		  , NTC_UPDT_DT=SYSDATE
		WHERE NTC_ID=#{ntcId}
	</update>

</mapper>