@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* 러뉴얼 컬러 값 변수 세팅 */
:root {
  --student-color: #1f7bda;
  --tutor-color: #6554c0;
  --manager-color: #0747a6;
  --full-gradient-background: linear-gradient(
    90deg,
    #3399ff 0%,
    #0747a6 50%,
    #6554c0 100%
  );
  --light-gradient-background: linear-gradient(
    180deg,
    #3399ff 0%,
    #1f5c99 100%
  );
  --deep-gradient-background: linear-gradient(180deg, #2b81d7 0%, #174471 100%);
}

* {
  box-sizing: border-box;
}

body {
  color: #333;
  margin: 0;
  font-family: "Pretendard Variable", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  transition: 0.2s all;
}

a:hover {
  color: #3399ff;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

h6 {
  margin: 0;
  padding: 0;
  font-size: 0.5rem;
}

p {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 0.3rem;
  outline: none;
  padding: 0.625rem;
  border: 0;
  font-size: 1rem;
  box-shadow: 0px 2px 5px #3333;
  transition: 0.2s all;
  color: #fff;
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 3px 6px #3338;
}

.btn1 {
  background: var(--tutor-color);
}

.btn2 {
  background: var(--light-gradient-background);
}

.btn3 {
  background: var(--deep-gradient-background);
}

input {
  border: 0;
  border: 1px solid #ccc;
  border-radius: 0.625rem;
  padding: 0.625rem;
  outline: none;
}

input:focus {
  background-color: #3399ff11;
}

label {
  color: var(--student-color);
  font-weight: 500;
  cursor: pointer;
}

/* 게시판 공통 css / element에 class 추가 시 활성 */
.article {
  background: #fff;
  border-radius: 0.625rem;
  box-shadow: 0px 2px 5px #3333;
  position: relative;
  padding-bottom: 3.5rem;

  > div:first-child {
    padding: 1.25rem;
    border-bottom: 3px solid #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > a {
      font-size: 0.9rem;
      color: #aaa;
    }
  }

  > div:nth-child(2) {
    .article-content {
      li {
        border-bottom: 3px solid #efefef;

        > a {
          padding: 1rem 1.25rem;
          display: flex;
          flex-direction: column;
          gap: 0.625rem;

          &:hover {
            background: #3399ff11;
          }

          > h3 {
            font-size: 1.1rem;
            color: #333;
            font-weight: 600;
          }

          > span {
            color: #ccc;
            font-size: 0.9rem;
          }
        }
      }
    }

    .pagination {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 1.25rem 0;
      display: flex;
      justify-content: center;

      a {
        padding: 0.3rem;
        transition: 0.2s all;
      }
    }
  }
}

/* 대시보드에 보이는 게시판 위젯 css */
.widget-article {
  background: #fff;
  border-radius: 0.625rem;
  box-shadow: 0px 2px 5px #3333;
  position: relative;
  padding-bottom: 3rem;

  > div:first-child {
    padding: 1rem;
    border-bottom: 3px solid #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > h2 {
      font-size: 1.15rem;
    }

    > a {
      font-size: 0.8rem;
      color: #aaa;
    }
  }

  > div:nth-child(2) {
    .article-content {
      li {
        border-bottom: 3px solid #efefef;

        > a {
          padding: 0.85rem 1rem;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          &:hover {
            background: #3399ff11;
          }

          > h3 {
            font-size: 1rem;
            color: #333;
            font-weight: 600;
          }

          > span {
            color: #ccc;
            font-size: 0.8rem;
          }
        }
      }
    }

    .pagination {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 1rem 0;
      display: flex;
      justify-content: center;

      a {
        padding: 0.3rem;
        font-size: 0.9rem;
        transition: 0.2s all;
      }
    }
  }
}

/* 검색 결과 ul 공통 css */
.list-wrapper {
  li {
    border-bottom: 3px solid #efefef;

    > a {
      padding: 1rem 1.25rem;
      display: flex;
      flex-direction: column;
      gap: 0.625rem;

      &:hover {
        background: #3399ff11;
      }

      > p {
        font-size: 1.1rem;
        color: #333;
        font-weight: 600;
      }

      > span {
        color: #aaa;
        font-size: 0.9rem;
      }
    }
  }
}

/* ======= 러뉴얼 홈페이지 css start ======= */
.wrapper {
  width: 80%;
  min-width: 75rem;
  margin: 0 auto;
  margin-top: 5rem;

  .header {
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 2px 5px #5553;

    .header-wrapper {
      width: 80%;
      min-width: 75rem;
      margin: 0 auto;
      display: flex;
      min-height: 5rem;
      justify-content: space-between;
      /* border: 1px solid green; */

      .header-logo {
        width: 5rem;
        font-size: 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          display: block;
          width: 100%;
          height: 100%;
          background: url("/asset/logo/learnual-logo.svg") no-repeat
            center/contain;
        }
      }

      .header-right {
        /* border: 1px solid blue; */
        width: 60%;
        display: flex;
        justify-content: flex-end;
        gap: 0.625rem;
        font-size: 1.15rem;

        .header-right-nav {
          /* border: 1px solid purple; */
          display: flex;

          li > a {
            height: 100%;
            padding: 0.625rem 1.25rem;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s all;
          }
        }
      }
    }
  }

  /* 러뉴얼 홈 main */
  /* home.html */
  .home-main {
    margin-top: 5rem;

    .visual {
      width: 100%;
      background: url("/asset/visual/learnual_visual.jpg") no-repeat
        center/cover;
      height: 12.5rem;
      font-size: 0;
    }

    .contents {
      background-color: #f7f7f7;
      display: flex;
      padding: 1.25rem;
      gap: 1.25rem;

      .notice {
        width: 52%;
      }

      .search {
        width: 48%;
        background: #fff;
        border-radius: 0.625rem;
        box-shadow: 0px 2px 5px #3333;

        .search-inactive {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1.25rem;
          /* display: none; */

          p {
            font-size: 1.3rem;
            color: #aaa;
            font-weight: 600;
            text-align: center;
          }

          .btn-area {
            width: 80%;
            display: flex;
            gap: 1.25rem;

            a {
              width: 50%;
              font-size: 1.5rem;
              border-radius: 0.625rem;
              padding: 3rem 1.5rem;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 0.625rem;
              color: #eee;
              font-weight: 700;
              position: relative;
              z-index: 1;
              transition: 0.2s all;
              box-shadow: 0px 2px 5px #3333;

              &:hover {
                box-shadow: 0px 3px 6px #3338;
              }

              .login-overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                font-size: 0;
                z-index: -1;
                opacity: 0.08;
              }

              &:first-child {
                background: var(--light-gradient-background);

                .login-overlay {
                  background: url("/asset/icon/login.svg") no-repeat
                    center/contain;
                }
              }

              &:nth-child(2) {
                background: var(--deep-gradient-background);

                .login-overlay {
                  background: url("/asset/icon/regist.svg") no-repeat
                    center/contain;
                }
              }
            }
          }
        }

        .search-active {
          display: none;
          .search-tab {
            background-color: #efefef;
            border-bottom: 3px solid #efefef;
            display: flex;

            > li {
              border-radius: 0.625rem 0.625rem 0 0;
              color: #111;
              font-size: 1.3rem;
              font-weight: 700; /* semibold */
              transition: 0.2s all;

              &.on {
                background-color: #fff;
              }

              > a {
                padding: 1.25rem;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }

          .search-area {
            .search-form {
              display: flex;
              gap: 0.625rem;
              align-items: center;
              width: 88%;
              margin: 0 auto;

              label {
                display: none;
              }

              .search-input-area {
                display: block;
                width: 70%;
                padding: 1.25rem 0;

                input {
                  width: 100%;
                  height: 100%;
                  border-radius: 0.625rem;
                  border: 1px solid #ccc;
                  font-size: 1rem;
                  text-indent: 1rem;
                }
              }

              .search-button-area {
                width: 30%;

                button {
                  background: var(--full-gradient-background);
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  /* 러뉴얼 로그인 main */
  /* login.html */
  .login-main {
    .login-main-wrapper {
      padding: 6.25rem 0;
      width: 88%;
      min-height: 43rem;
      min-width: 60rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      gap: 3rem;

      .login-main-left {
        width: 55%;
        line-height: 1.5;
        position: relative;

        .text-wrapper {
          .text-title {
            font-size: 2rem;
            font-weight: 800;
            color: #111;
            margin-bottom: 1.25rem;
          }
        }

        .login-visual {
          width: 60%;
          height: 18rem;
          background: url("/asset/visual/learnual_visual.jpg") no-repeat
            center/cover;
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: -1;
          font-size: 0;
          border-radius: 1.25rem;
        }
      }

      .login-main-form {
        width: 45%;
        padding: 3.5rem;
        border-radius: 1.25rem;
        border: 1px solid #eee;
        box-shadow: 0px 0px 5px #0003;

        h2 {
          text-align: center;
          font-size: 1.8rem;
          font-weight: 600;
        }

        .login-input {
          display: flex;
          flex-direction: column;
          gap: 1.3rem;
          margin: 2rem 0;

          > div {
            display: flex;
            flex-direction: column;
            gap: 0.625rem;
          }

          label {
            font-size: 0.9rem;
            color: #111;
          }

          input {
            min-height: 2.5rem;
            font-size: 1.25rem;
          }
        }

        .btn-area {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          .btn-login {
            background: var(--full-gradient-background);
            font-size: 1.25rem;
            padding: 1.25rem 0;
          }

          .btn-regist-area {
            display: flex;
            gap: 1.25rem;

            > button {
              width: 50%;
              background-color: #fff;
              color: #aaa;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }

  /* 러뉴얼 회원가입 main */
  /* regist.html */
  .regist-main {
    padding: 5rem 0;
    width: 88%;
    min-width: 60rem;
    margin: 0 auto;

    .regist-section1 {
      display: flex;
      gap: 2.5rem;
      min-height: 15rem;
      margin-bottom: 2.5rem;

      .text-area {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.25rem;
        line-height: 1.5;

        .text-title {
          p {
            font-size: 1.8rem;
            font-weight: 700;
            color: #111;
          }
        }
      }

      .img-area {
        width: 50%;
        background: url("/asset/visual/learnual_visual.jpg") no-repeat
          center/cover;
        font-size: 0;
      }
    }

    .regist-section2 {
      display: flex;
      gap: 2.5rem;
      min-height: 15rem;

      a {
        display: block;
        font-size: 1.5rem;
        font-weight: 600;
        color: #eee;
        line-height: 1.3;
        padding: 2rem;
        border-radius: 1.25rem;
        text-align: center;
        box-shadow: 0px 2px 5px #3333;

        &:hover {
          box-shadow: 0px 3px 6px #3338;
        }
      }

      .student-area {
        width: 50%;

        .regist-student-direct {
          a {
            background: var(--light-gradient-background);
          }
        }

        .regist-student-text {
          margin-top: 1.25rem;
          text-align: center;
        }
      }

      .manager-area {
        width: 50%;

        .regist-manager-direct {
          a {
            background: var(--deep-gradient-background);
          }
        }

        .regist-manager-text {
          margin-top: 1.25rem;
          text-align: center;
        }
      }
    }

    /* 러뉴얼 회원가입-학생 main */
    .regist-student-section {
      display: block;
    }
  }

  .footer {
    padding: 2.5rem 0;

    .footer-wrapper {
      display: flex;

      .footer-logo {
        width: 5.625rem;
      }

      .footer-contents {
        flex-grow: 1;
        display: flex;
      }
    }
  }
}
/* ======= 러뉴얼 홈페이지 css end ======= */

/* ======= 대시보드 css start ======= */
/* 학생 대시보드 */
.dashboard {
  .widget-article {
    a {
      &:hover {
        background-color: #eaf5ff !important;
        color: var(--student-color);
      }
    }
  }

/* sidebar 작업 시작 */
  .sidebar {
    width: 15rem;
    height: 100%;
    border: 1px solid red;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 2000;

    .user-info {
      border: 1px solid blue;
      min-height: 15rem;
    }
  }
  
/* sidebar 작업 시작 */

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0px 2px 5px #5553;

    .header-top {
      border-bottom: 3px solid var(--student-color);

      .header-top-wrapper {
        /* border: 1px solid red; */
        width: 88%;
        min-width: 75rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        min-height: 3rem;

        .btn-menu {
          /* border: 1px solid red; */
          width: 2.5rem;
          min-height: 3rem;
          transform: translateX(-5px);

          a {
            display: block;
            height: 100%;
            font-size: 0;
            background: url("/asset/icon/menu.svg") no-repeat center/contain;
            transition: 0.2s all;

            &:hover {
              background: url("/asset/icon/menu_hover_student.svg") no-repeat
                center/contain;
            }
          }
        }

        .logo {
          width: 10rem;
          display: flex;
          justify-content: center;

          a {
            display: block;
            width: 80%;
            height: 100%;
            background: url("/asset/logo/learnual-logo-text.svg") no-repeat
              center/contain;
            font-size: 0;
            opacity: 0.3;
          }
        }

        .btn-notification {
          width: 2.5rem;
          min-height: 3rem;
          transform: translateX(5px);
          position: relative;

          > a {
            display: block;
            height: 100%;
            font-size: 0;
            background: url("/asset/icon/notification.svg") no-repeat
              center/contain;
            transition: 0.2s all;

            &:hover {
              background: url("/asset/icon/notification_hover_student.svg")
                no-repeat center/contain;
            }
          }

          .badge {
            width: 0.85rem;
            min-height: 0.85rem;
            border-radius: 50%;
            background-color: var(--student-color);
            position: absolute;
            top: 0.25rem;
            right: 0;
          }

          .notification-box {
            /* display: none; */
            min-width: 15rem;
            position: absolute;
            top: 100%;
            right: 0;

            .notification-deco {
              min-height: 1.5rem;
              display: flex;
              justify-content: flex-end;

              .tri {
                background-color: #fffce4;
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                margin-right: 0.5rem;
                width: 1.5rem;
                height: 1.5rem;
              }
            }

            .notification-content {
              background-color: #fffce4;
              box-shadow: 0px 2px 5px #3333;

              li {
                border-bottom: 1px solid #ccc;
                a {
                  display: block;
                  height: 100%;
                  padding: 1rem;
                }
              }
            }
          }
        }
      }
    }

    .header-bottom {
      .header-bottom-wrapper {
        width: 88%;
        min-width: 75rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        min-height: 3rem;
        gap: 1.25rem;
      }
    }
  }

  .dashboard-main {
    margin-top: 6rem;
    padding-top: 2.5rem;
    background-color: #eaf5ff;
    height: 100vh;
    display: flex;

    .main-wrapper {
      width: 88%;
      min-width: 75rem;
      margin: 0 auto;
      display: flex;
      gap: 1.25rem;

      > div {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
      }

      .dashboard-col1 {
        /* border: 1px solid red; */
        width: 38%;
      }

      .dashboard-col2 {
        /* border: 1px solid blue; */
        width: 38%;
      }

      .dashboard-col3 {
        border: 1px solid green;
        width: 24%;
      }
    }
  }
}

/* 학습관리자 대시보드 */
.dashboard.tutor {
  .widget-article {
    a {
      &:hover {
        background-color: #f3f2f7 !important;
        color: var(--tutor-color);
      }
    }
  }

  .notification-box {
    a {
      &:hover {
        color: var(--tutor-color);
      }
    }
  }

  .header {
    .header-top {
      border-bottom: 3px solid var(--tutor-color);

      .header-top-wrapper {
        .btn-menu {
          a {
            &:hover {
              background: url("/asset/icon/menu_hover_tutor.svg") no-repeat
                center/contain;
            }
          }
        }

        .btn-notification {
          width: 2.5rem;
          min-height: 3rem;
          transform: translateX(5px);
          position: relative;

          > a {
            display: block;
            height: 100%;
            font-size: 0;
            background: url("/asset/icon/notification.svg") no-repeat
              center/contain;
            transition: 0.2s all;

            &:hover {
              background: url("/asset/icon/notification_hover_tutor.svg")
                no-repeat center/contain;
            }
          }

          .badge {
            background-color: var(--tutor-color);
          }

          .notification-box {
            /* display: none; */
            min-width: 15rem;
            position: absolute;
            top: 100%;
            right: 0;

            .notification-deco {
              min-height: 1.5rem;
              display: flex;
              justify-content: flex-end;

              .tri {
                background-color: #fffce4;
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                margin-right: 0.5rem;
                width: 1.5rem;
                height: 1.5rem;
              }
            }

            .notification-content {
              background-color: #fffce4;
              box-shadow: 0px 2px 5px #3333;

              li {
                border-bottom: 1px solid #ccc;
                a {
                  display: block;
                  height: 100%;
                  padding: 1rem;
                }
              }
            }
          }
        }
      }
    }

    .header-bottom {
      .header-bottom-wrapper {
        width: 88%;
        min-width: 75rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        min-height: 3rem;
        gap: 1.25rem;
      }
    }
  }

  .dashboard-main {
    background-color: #f3f2f7;
  }
}
