<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.learn.bbs.pltad.instr.dao.impl.InstrDaoImpl">

	<insert id="insertNewInstr"
		parameterType="com.learn.bbs.pltad.instr.vo.InstrRegistRequestVO">
		<selectKey order="BEFORE" resultType="string"
			keyProperty="instrId">
			<!-- 아이디 값을 생성해주는 태그 -->
			SELECT 'INSTR-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_INSTR_PK.NEXTVAL, 6, '0')
			  FROM DUAL
		</selectKey>
		INSERT INTO INSTR (
			INSTR_ID,
			INSTR_LGN_ID,
			INSTR_LGN_PW,
			INSTR_LGN_SLT_PW,
			INSTR_NM,
			INSTR_PN,
			INSTR_ML,
			INSTR_BRT_DT,
			INSTR_ADRS,
			INSTR_RGST_DT,
			INSTR_UPDT_DT,
			INSTR_DEL_DT,
			INSTR_DEL_YN,
			INSTTN_ID,
			CMCD_ID,
			INSTR_LGN_IP,
			INSTR_LST_PW_MDFY_DT,
			INSTR_LST_LGN_DT,
			INSTR_LST_LGN_FAIL_DT,
			INSTR_LGN_FAIL_CNT,
			INSTR_LGN_YN,
			INSTR_BLK_YN
			)
		VALUES(
			#{instrId},
			#{instrLgnId},
			#{instrLgnPw},
			#{instrLgnSltPw},
			#{instrNm},
			#{instrPn},
			#{instrMl},
			TO_DATE(#{instrBrtDt}, 'YYYY-MM-DD'),
			#{instrAdrs},
			SYSDATE,
			NULL,
			NULL,
			'N',
			#{insttnId},
			#{cmcdId},
			NULL,
			NULL,
			NULL,
			NULL,
			0,
			'N',
			'N'
		)
	</insert>
	
	<!-- login 기능 mapper start sh  -->

<!-- 강사 관리자 계정이 있는지 확인하기 위한 쿼리 -->
<select id="selectUsrCountBy"
        parameterType="string"
        resultType="_int">
    SELECT COUNT(INSTR_LGN_ID)
      FROM INSTR
     WHERE INSTR_LGN_ID = #{_parameter}
</select>
    
<!-- 강사  해당 계정의 정보를 가져오 위한 쿼리 -->
<select id="selectOneUsrBy"
       parameterType="string"
       resultType="com.learn.bbs.pltad.instr.vo.InstrVO">
   
SELECT INSTR_ID, 
   INSTR_LGN_ID, 
   INSTR_LGN_PW, 
   INSTR_LGN_SLT_PW, 
   INSTR_NM, 
   INSTR_PN, 
   INSTR_ML,
   INSTR_BRT_DT, 
   INSTR_ADRS, 
   INSTR_RGST_DT, 
   INSTR_UPDT_DT, 
   INSTR_DEL_DT, 
   INSTR_DEL_YN, 
   INSTTN_ID, 
   CMCD_ID,
   INSTR_LGN_IP,
   INSTR_LST_PW_MDFY_DT,
   INSTR_LST_LGN_DT,
   INSTR_LST_LGN_FAIL_DT,
   INSTR_LGN_FAIL_CNT,
   INSTR_LGN_YN,
   INSTR_BLK_YN
FROM INSTR WHERE INSTR_LGN_ID = #{_parameter}
   
 </select>
 
    <!-- 강사  로그인 실패 횟수를 세는 쿼리 -->    
    <update id="updateLoginFailCount"
        parameterType="string">
	  UPDATE INSTR
		SET  INSTR_LST_LGN_FAIL_DT = SYSDATE
		  , INSTR_LGN_FAIL_CNT= INSTR_LGN_FAIL_CNT + 1 
		WHERE INSTR_LGN_ID= #{_parameter}
	 
    </update>
    
   <!--강사  로그인 실패 5회 이상일시 블락 쿼리 -->
    <update id="updateBlock"
        parameterType="string">
	   	UPDATE INSTR
		   SET INSTR_BLK_YN = 'Y'
		 WHERE INSTR_LGN_ID =  #{_parameter}
		   AND INSTR_LGN_FAIL_CNT >= 5
    </update>
    <!-- 강사 로그인 성공시 데이터 리셋 쿼리  -->
    <update id="updateLoginSuccess"
         parameterType="string">   
	UPDATE INSTR 	
	   SET INSTR_LGN_FAIL_CNT = 0
	     , INSTR_LST_LGN_DT = SYSDATE
	     , INSTR_LGN_IP = NULL
	     , INSTR_LGN_YN = 'Y'
	     , INSTR_BLK_YN = 'N'
	 WHERE INSTR_LGN_ID = #{_parameter}
    </update>
    
   <!-- 강사 로그아웃 --> 
   <update id="updateLogoutStatus"
       parameterType="string">
	 UPDATE INSTR
	   SET INSTR_LGN_YN = 'N'
	 WHERE INSTR_LGN_ID = #{_parameter}
    </update>
    <!-- 강사 계정삭제 로그아웃 --> 
    <update id="deleteOneUsrBy"
            parameterType="string">
	  UPDATE INSTR 
	   SET INSTR_DEL_YN = 'Y',
	   INSTR_DEL_DT = SYSDATE
	 WHERE INSTR_LGN_ID = #{_parameter}
    </update>  
<!-- 강사 개인정보 수정 미 정  -->
<!-- 	<update id="updateOneUsrEditMyinformation"
		parameterType="com.learn.bbs.usr.vo.UsrEditMyinformationVO">
		UPDATE USR
		SET
		<if test="usrPw != null and usrPw != ''">
			USR_PW = #{usrPw},
		</if>
		<if test="usrSlt != null and usrSlt != ''">
			USR_SLT = #{usrSlt},
		</if>
		<if test="usrNm != null and usrNm != ''">
		USR_NM = #{usrNm},
		</if>
		<if test="usrPn != null and usrPn != ''">
		USR_PN = #{usrPn},
		</if>
		<if test="usrAdrs != null and usrAdrs != ''">
		USR_ADRS = #{usrAdrs},
		</if>
		USR_UPDT_DT = SYSDATE,
		USR_LST_PW_MDFY_DT = SYSDATE
		WHERE USR_ML = #{usrMl}
	</update> -->

    <select id="selectAllInstrs" resultType="com.learn.bbs.pltad.instr.vo.InstrVO">
        SELECT INSTR_ID
             , INSTR_LGN_ID
             , INSTR_LGN_PW
             , INSTR_LGN_SLT_PW
             , INSTR_NM
             , INSTR_PN
             , INSTR_ML
             , INSTR_BRT_DT
             , INSTR_ADRS
             , INSTR_RGST_DT
             , INSTR_UPDT_DT
             , INSTR_DEL_DT
             , INSTR_DEL_YN
             , CMCD_ID
             , INSTTN_ID
          FROM INSTR
         WHERE INSTR_DEL_YN = 'N'
    </select>
    
    <select id="selectOneInstrName" parameterType="string" resultType="string">
        SELECT i.INSTR_NM
          FROM INSTR i
         INNER JOIN CRS_INF ci
            ON ci.INSTR_ID = i.INSTR_ID
         WHERE ci.CRS_INF_ID = #{crsInfId}
    </select>

<!-- login 기능 mapper end sh  -->
</mapper>