<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.learn.bbs.pltad.instr.dao.impl.InstrDaoImpl">

	<insert id="insertNewInstr"
		parameterType="com.learn.bbs.pltad.instr.vo.InstrRegistRequestVO">
		<selectKey order="BEFORE" resultType="string"
			keyProperty="instrId">
			<!-- 아이디 값을 생성해주는 태그 -->
			SELECT 'INSTR-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_INSTR_PK.NEXTVAL, 6, '0')
			  FROM DUAL
		</selectKey>
		INSERT INTO INSTR (
			INSTR_ID,
			INSTR_LGN_ID,
			INSTR_LGN_PW,
			INSTR_LGN_SLT_PW,
			INSTR_NM,
			INSTR_PN,
			INSTR_ML,
			INSTR_BRT_DT,
			INSTR_ADRS,
			INSTR_RGST_DT,
			INSTR_UPDT_DT,
			INSTR_DEL_DT,
			INSTR_DEL_YN,
			INSTTN_ID,
			CMCD_ID,
			INSTR_LGN_IP,
			INSTR_LST_PW_MDFY_DT,
			INSTR_LST_LGN_DT,
			INSTR_LST_LGN_FAIL_DT,
			INSTR_LGN_FAIL_CNT,
			INSTR_LGN_YN,
			INSTR_BLK_YN
			)
		VALUES(
			#{instrId},
			#{instrLgnId},
			#{instrLgnPw},
			#{instrLgnSltPw},
			#{instrNm},
			#{instrPn},
			#{instrMl},
			TO_DATE(#{instrBrtDt}, 'YYYY-MM-DD'),
			#{instrAdrs},
			SYSDATE,
			NULL,
			NULL,
			'N',
			#{insttnId},
			#{cmcdId},
			NULL,
			NULL,
			NULL,
			NULL,
			0,
			'N',
			'N'
		)
	</insert>
</mapper>