<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.bbs.tst.dao.impl.TstHistDaoImpl">
    
	<select id="selectTstHistList"
			parameterType="string"
			resultType="com.learn.bbs.tst.vo.TstHistVO">
		SELECT TH.TST_HSTR_ID
			 , TO_CHAR(TH.TST_HSTR_DT, 'YYYY-MM-DD HH24:MI:SS') AS TST_HSTR_DT
			 , TO_CHAR(TH.TST_RSPNS_PTH, 'YYYY-MM-DD HH24:MI:SS') AS TST_RSPNS_PTH
			 , U.USR_NM
			 , U.USR_ML
		  FROM TST_HSTR TH /*시험이력*/
		  LEFT OUTER JOIN TST T /*시험*/
		    ON T.TST_ID = TH.TST_ID
		  LEFT OUTER JOIN CRS_PRATT CP /*수강이력*/
		    ON T.CRS_INF_ID = CP.CRS_INF_ID
		   AND T.SBJ_ID = CP.SBJ_ID
		   AND TH.USR_ID = CP.USR_ID
		  LEFT OUTER JOIN USR U /*회원*/
		    ON CP.USR_ID = U.USR_ID
		 WHERE TH.TST_ID = #{_parameter}
	</select>
	
	<select id="selectTstHist"
			parameterType="string"
			resultType="com.learn.bbs.tst.vo.TstHistVO">
		SELECT TH.TST_HSTR_ID
			 , TO_CHAR(TH.TST_HSTR_DT, 'YYYY-MM-DD HH24:MI:SS') AS TST_HSTR_DT
			 , TO_CHAR(TH.TST_RSPNS_PTH, 'YYYY-MM-DD HH24:MI:SS') AS TST_RSPNS_PTH
			 , U.USR_NM
			 , U.USR_ML
		  FROM TST_HSTR TH /*시험이력*/
		  LEFT OUTER JOIN TST T /*시험*/
		    ON T.TST_ID = TH.TST_ID
		  LEFT OUTER JOIN CRS_PRATT CP /*수강이력*/
		    ON T.CRS_INF_ID = CP.CRS_INF_ID
		   AND T.SBJ_ID = CP.SBJ_ID
		   AND TH.USR_ID = CP.USR_ID
		  LEFT OUTER JOIN USR U /*회원*/
		    ON CP.USR_ID = U.USR_ID
		 WHERE TH.TST_HSTR_ID = #{_parameter}
	</select>
	
	<insert id="insertNewTstHist"
			parameterType="com.learn.bbs.tst.vo.CreateTstHstrRequestVO">
		<selectKey keyProperty="tstHstrId" order="BEFORE">
			SELECT 'TST-HSTR-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_TST_HSTR_PK.NEXTVAL, 6, '0')
			  FROM DUAL
		</selectKey>
		INSERT INTO TST_HSTR
		 (TST_HSTR_ID
		, TST_ID
		, TST_HSTR_DT
		, USR_ID
		, TST_RSPNS_PTH)
		VALUES
		 (#{tstHstrId}
		, #{tstId}
		, SYSDATE
		, #{usrId}
		, NULL)
	</insert>
	
	<update id="updateTstRspnsHist"
			parameterType="string">
		UPDATE TST_HSTR
		   SET TST_RSPNS_PTH = SYSDATE
		 WHERE TST_HSTR_ID = #{_parameter}
	</update>
    
</mapper>