<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.common.dao.impl.SesCmcdDaoImpl">
   
   <select id="selectOneCmcd"
   parameterType="string"
   resultType="com.learn.common.vo.SesCmcdVO">

	SELECT
		CMCD_ID,
		HGH_RNK_CMCD_ID,
		CMCD_NM,
		CMCD_RGST_DT,
		CMCD_UPDT_DT,
		CMCD_DEL_DT,
		CMCD_DEL_YN
	  FROM CM_CODE
	WHERE CMCD_NM= #{_parameter}
   
   </select>
</mapper>