<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.learn.bbs.eduad.flarch.dao.impl.FlArchDaoImpl">

	<resultMap type="com.learn.bbs.eduad.flarch.vo.FlArchVO"
		id="FlArchFileVOMap" autoMapping="true">
		<id column="FL_ARCH_ID" property="flArchId" />
		
		<association property="instrVO"
			javaType="com.learn.bbs.pltad.instr.vo.InstrVO" autoMapping="true">
			<id column="INSTR_ID" property="instrId" />
		</association>

		<collection property="flList"
			ofType="com.learn.bbs.file.vo.FlVO" autoMapping="true">
			<id column="FL_ID" property="flId" />
		</collection>
	</resultMap>

	<resultMap type="com.learn.bbs.eduad.flarch.vo.FlArchVO"
		id="FlArchInstrVOMap" autoMapping="true">
		<id column="FL_ARCH_ID" property="flArchId" />

		<association property="instrVO"
			javaType="com.learn.bbs.pltad.instr.vo.InstrVO" autoMapping="true">
			<id column="INSTR_ID" property="instrId" />
		</association>
	</resultMap>

	<select id="selectAllFlArchBoardCount"
		parameterType="com.learn.bbs.eduad.flarch.vo.FlArchSearchRequestVO"
		resultType="_int">

		SELECT
		COUNT(FL_ARCH_ID)
		FROM FL_ARCH
		WHERE FL_ARCH_DEL_YN =
		'N'
	</select>
	

	<select id="selectAllFlArchBoard"
		parameterType="com.learn.bbs.eduad.flarch.vo.FlArchSearchRequestVO"
		resultMap="FlArchInstrVOMap">

		SELECT FL_ARCH.FL_ARCH_ID
             , FL_ARCH.FL_ARCH_TTL
             , INSTR.INSTR_ID
             , INSTR.INSTR_NM
             , TO_CHAR(FL_ARCH.FL_ARCH_RGST_DT, 'YYYY-MM-DD') AS FL_ARCH_RGST_DT
         FROM FL_ARCH
         INNER JOIN INSTR
            ON INSTR.INSTR_LGN_ID= FL_ARCH.LGN_ID  
         WHERE FL_ARCH.FL_ARCH_DEL_YN = 'N'
         AND FL_ARCH.ARTC_ID = #{artcId}
         AND FL_ARCH.CRS_INF_ID = #{crsInfId}
         AND FL_ARCH.INSTTN_ID = #{insttnId}
         ORDER BY FL_ARCH.FL_ARCH_ID DESC
	</select>


	<insert id="insertNewFlArchBoard"
		parameterType="com.learn.bbs.eduad.flarch.vo.FlArchWriteRequestVO">

		<!-- id값을 생성해주는 태그, 미리 생성하기 때문에 order="BEFORE" -->
		<selectKey order="BEFORE" resultType="string"
			keyProperty="flArchId">
			SELECT 'FL_ARCH-' ||
			TO_CHAR(SYSDATE, 'YYYYMMDD') || '-'
			|| LPAD(SEQ_FL_ARCH_PK.NEXTVAL, 6, '0')
			FROM DUAL
		</selectKey>

		INSERT INTO FL_ARCH
		(FL_ARCH_ID
		, FL_ARCH_TTL
		, FL_ARCH_CTT
		, FL_ARCH_VIEW_CNT
		, FL_ARCH_RGST_DT
		, FL_ARCH_UPDT_DT
		, FL_ARCH_DEL_DT
		, FL_ARCH_DEL_YN
		, LGN_ID
		, ARTC_ID
		, CRS_INF_ID
		, INSTTN_ID)
		VALUES(
		#{flArchId}
		, #{flArchTtl}
		, #{flArchCtt}
		, 0
		, SYSDATE
		, ''
		, ''
		, 'N'
		, #{lgnId}
		, #{artcId}
		, #{crsInfId}
		, #{insttnId} )
	</insert>

	<select id="selectOneFlArchBoard" parameterType="com.learn.bbs.eduad.flarch.vo.FlarchViewRequestVO"
		resultMap="FlArchFileVOMap">
		SELECT FA.FL_ARCH_ID
             , FA.FL_ARCH_TTL
             , FA.FL_ARCH_CTT
             , FA.FL_ARCH_VIEW_CNT
             , FA.INSTR_NM
             , FA.INSTR_ML
             , FA.FL_ARCH_RGST_DT
             , FL.FL_ID
             , FL.FL_NM
             , FL.FL_OBFS_NM
             , FL.FL_OBFS_PTH
             , FL.FL_SZ
             , FL.ID
        FROM (
        SELECT FL_ARCH.FL_ARCH_ID
             , FL_ARCH.FL_ARCH_TTL
             , FL_ARCH.FL_ARCH_CTT
             , FL_ARCH.FL_ARCH_VIEW_CNT
             , FL_ARCH.FL_ARCH_DEL_YN
             , TO_CHAR(FL_ARCH.FL_ARCH_RGST_DT, 'YYYY-MM-DD') AS FL_ARCH_RGST_DT
             , INSTR.INSTR_ID
             , INSTR.INSTR_NM
             , INSTR.INSTR_ML
          FROM FL_ARCH
         INNER JOIN INSTR
            ON INSTR.INSTR_LGN_ID= FL_ARCH.LGN_ID  
         WHERE FL_ARCH.ARTC_ID = #{artcId}
         AND FL_ARCH.CRS_INF_ID = #{crsInfId}
         AND FL_ARCH.INSTTN_ID = #{insttnId}
        ) FA
        LEFT OUTER JOIN FL
        ON FA.FL_ARCH_ID = FL.ID
        WHERE FA.FL_ARCH_ID = #{flArchId}
          AND FA.FL_ARCH_DEL_YN = 'N'
	</select>

	<update id="updateViewCountBy"
		parameterType="com.learn.bbs.eduad.flarch.vo.FlArchVO">
		UPDATE FL_ARCH
		SET FL_ARCH_VIEW_CNT = FL_ARCH_VIEW_CNT + 1
		WHERE FL_ARCH_ID = #{flArchId}
		  AND FL_ARCH_DEL_YN = 'N'
	</update>

	<delete id="deleteOneFlArchBoard"
		parameterType="com.learn.bbs.eduad.flarch.vo.FlArchDeleteRequestVO">
		UPDATE FL_ARCH
           SET FL_ARCH_DEL_DT = SYSDATE
             , FL_ARCH_DEL_YN = 'Y'
         WHERE FL_ARCH_ID = #{flArchId}
           AND LGN_ID = #{lgnId}
	</delete>

	<update id="updateOneFlArchBoard"
		parameterType="com.learn.bbs.eduad.flarch.vo.FlArchUpdateRequestVO">
		UPDATE FL_ARCH
           SET FL_ARCH_TTL = #{flArchTtl}
             , FL_ARCH_CTT = #{flArchCtt}
             , FL_ARCH_UPDT_DT = SYSDATE
         WHERE FL_ARCH_ID = #{flArchId}
           AND LGN_ID = #{lgnId}
           AND FL_ARCH_DEL_YN = 'N'
	</update>

</mapper>